# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

ModuleNotFoundError: No module named 'pymongo'

In [ ]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [ ]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [ ]:
# review the collections in our database
db.list_collection_names()

In [ ]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}

# Use count_documents to display the number of documents in the result
results = establishments.find(query)

# Display the first document in the results using pprint
for i in range(1):
    print("____________________________________________________________")
    pprint(f"The first document in in the results is:")
    pprint(results[i])
   
print("______________________________________________________________________________________")
results = establishments.count_documents(query)
print(f"The total number of establishments with a hygiene score of 20 is: {results}")
print("______________________________________________________________________________________")

In [ ]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.DataFrame(establishments.find(hygiene_query))
# Display the number of rows in the DataFrame
print(f"Rows in this DataFrame: {len(hygiene_df)}")
# Display the first 10 rows of the DataFrame
establishments_df.head(10)

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
ratingValue_query = {'LocalAuthorityName': {'$regex': 'London'}, 
          'RatingValue': {'$gte': 4}
                    }


# Use count_documents to display the number of documents in the result
print(f"The number of documents in the result: {establishments.count_documents(ratingValue_query)}")
# Display the first document in the results using pprint
pprint(establishments.find_one(ratingValue_query))

In [ ]:
# Convert the result to a Pandas DataFrame
ratingValue_df = pd.DataFrame(establishments.find(ratingValue_query))
# Display the number of rows in the DataFrame
print(f"Rows in this DataFrame: {len(ratingValue_df)}")

# Display the first 10 rows of the DataFrame
ratingValue_df.head(10)

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = establishments.find_one({'AddressLine1':'Penang Flavours'})['geocode']['latitude']
longitude = establishments.find_one({'AddressLine1':'Penang Flavours'})['geocode']['longitude']

query_3 = {'RatingValue': 5, 
         'geocode.latitude': {'$lte': (latitude + degree_search), '$gte': (latitude - degree_search)}, 
         'geocode.longitude': {'$lte': (longitude + degree_search), '$gte': (longitude - degree_search)} 
         }
sort_3 =  [('scores.Hygiene', 1)]

# Print the results
pprint(list(establishments.find(query_3).sort(sort_3).limit(5)))

In [ ]:
# Convert result to Pandas DataFrame
df_3= pd.DataFrame(list(establishments.find(query_3).sort(sort_3).limit(5)))
print(f"Rows in this DataFrame: {len(df_3)}")
df_3.head()

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': 0}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': '$LocalAuthorityName', 
                          'count': {'$sum': 1}
                         }
              }

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': -1}}

# Print the number of documents in the result
pipeline = [match_query, group_query, sort_values]
results = list(establishments.aggregate(pipeline))
print(f"The number of documents in the result: {len(results)}")

# Print the first 10 results
pprint(results[0:10])

In [ ]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print(f"Rows in this DataFrame: {len(result_df)}")
# Display the first 10 rows of the DataFrame
result_df.head(10)